<mat-grid-list [cols]="breakingpoint" rowHeight="200px" (window:resize)="onResize($event)">
  <mat-grid-tile [colspan]="2" [rowspan]="3" *ngFor="let burger of burgerList">
    <mat-card class="card-list-burger">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Le fameux {{burger.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{burger.image}}">
      <mat-card-content>
        <p>{{burger.price}} €</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button class="viewBut" routerLink="burger/{{burger.id}}">View</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
